body {
    font-family: "Helvetica","Arial",sans-serif;
    color: #333;
    margin: 1em 10%;
}

h1 {
    color: #333;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
}

li {
    padding: 1em;
}

p {
    color: chartreuse;
    font-weight: bold;
    font-size: 16px;
}